<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/color.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    <link rel="stylesheet" href="/public/css/edit.css">
</head>
<body>
    <header>
       
        <div class="navbar">
        <ul>
          <h3 id="auth">User Authentication And Management</h3>
            <!-- <li><a href="/homes"><i class="fa-solid fa-house-chimney"></i></a></li> -->
            <!-- <li><a href="/login">UserLogin</a></li>
            <li><a  href="/admin">AdminLogin</a></li> -->
          </ul>
      </div>
    </header>

    <div class="vts">
        <h2>WElcome to here</h2>
        <img src="/public/Newimg/A Beautiful Beach.png" alt="image nt found">
      </div>

    
  
