<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .navbar{
    width: 811px;
    background-color: rgb(34, 139, 81);
    margin: -19px;
    height: 33px;
  }
  .vts {
    width: 500px;
    height: 300px;
  /* background-color: aqua;  */
 }
  #auth{
    text-align: center;
    color: white;
    padding: 4px;

 }
    
  /* .navbar ul{
      overflow: auto; /* when we apply float propty then its remove the other efforts */
  /* }
  .navbar li{
      float: left; */
      /* list-style: none; for Bullet remove       
      margin: 13px 20px;
      
  } */
  /* .navbar li a{
      padding: 3px 3px;
      text-decoration: none; /*remove underline types thing */
      /* color: white;
  }
  .navbar li a:hover{
      background-color: aqua;
      color: red;
  }
  
  .navbar input{
      border: 2px solid black;
      border-radius: 4px;
      padding: 3px 17px;
      width: 129px;
     
  }
  .container{
         */ 
        /* display: grid; */
        /* grid-template-columns: 300px 100px 100px; 
         grid-template-columns: 300px auto 100px; */ 
        /* grid-template-columns: 1fr 3fr 3fr;   */
         /* grid-template-columns: repeat(3, auto); */
        /* grid-gap: 2rem; */
        /* position: absolute;
        top: 47px; */
        
     /* } */
     /* #vj{
        background: no-repeat center center/cover url("/public/Newimg/hospital2.jpg");
     } */ 
     /* .container #vj{
        background-image: url("./ums.webp")no-repeat cover;
        background-size: 100px 100px;
     } */
    /* .item{ */
        
        /* height: 250px;*/
         /* border: solid black; */
         /* background-color: red;  */
        /* background-image: url("C:\Users\win 10\Pictures");
        border: 2px solid black;
        padding: 15px 5px; */ 
    /* }  */
    /* .item:first-child{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 12;
       
    } */
    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
   
    /* .vishu{
       width: 699px;
       height: 360px;
       background-image: url("/public/userImages/1675982095729-jpgimage.jpg");
       margin: -8px;
       padding: 0px;
    } */
    /*
    @keyframes changeImage{
        0%{
            background-image: url('/public/Newimg/images\ \(1\).jpg');
        }
        25%{
            background-image: url('/public/Newimg/hospital1.jpg');
        }
        50%{
            background-image: url('/public/Newimg/hospital2.jpg');
        }
        75%{
            background-image: url('/public/Newimg/hospital3.jpg');
        }
       
    }*/
    /*  */
    /* .vts {
    padding: 0 43px;
    }

   .vts {
    display: block;
    position: relative;
    width: 100%;
   } */

   /* .vts > figure {
    margin-bottom: 0;
}

.vts > figure img {
    display: inline-block;
    width: 100%;
} */

</style>
<body>

    <header>
       
      <div class="navbar">
      <ul>
        <h3 id="auth">User Authentication And Management</h3>
          <!-- <li><a href="/homes"><i class="fa-solid fa-house-chimney"></i></a></li> -->
          <!-- <li><a href="/login">UserLogin</a></li>
          <li><a  href="/admin">AdminLogin</a></li> -->
        </ul>
    </div>
  </header>
  <div class="vts">
    <h2>WElcome to here</h2>
    <img src="" alt="image nt found">
  </div>

  <!-- <div class="vishu">
       <h1>vishal</h1>
  </div> -->
  <!-- <div class="container">
    <div class="item" id="vj"></div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div>
    <div class="item">heeeloo</div> -->
   
    
</body>
</html>