<% include("../layouts/header.ejs")%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="userlogin.css">
</head>
<style>
  .container{
    width: 320px;
    height: 392px;
    text-align: center;
    background-color: lavender;
    border-color:darkcyan;
    position: absolute;
    left: 198px;
    top: 91px;
}
  .navbar{
    width: 811px;
    background-color: rgb(34, 139, 81);
    margin: -19px;
    height: 33px;
  }
  .vts {
    width: 500px;
    height: 300px;
  /* background-color: aqua;  */
 }
  #auth{
    text-align: center;
    color: white;
    padding: 4px;

 }
 #jj{
  position: relative;
  left: 36px;
 }
</style>
<body>
  <header>
    <div class="navbar">
      <ul>
        <h3 id="auth">User Authentication And Management</h3>
      </ul>
   </header>
  
<div class="container">

  <h1>User Registration Form</h1>

  <form action="" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Enter Name" required>
      <br><br>
      <input type="email" name="email" placeholder="Enter Email" required>
      <br><br>
      <input type="text" name="mbn" placeholder="Enter Mobile Number" required>
      <br><br>
      <input type="file" name="image" required id="jj">
      <br><br>
      <input type="password" name="password" placeholder="Enter password" required>
      <br><br>
      <input type="submit" value="Register">
  </form>
  <%
  if(typeof message !== "undefined"){
    %>
       <p style="color:aqua;"><%= message %></p>
    <%
  }
%>
</div>
 
</body>
</html>









<% include("../layouts/footer.ejs")%>